cmake_minimum_required(VERSION {{ cmake_version }})

set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})

list(APPEND CMAKE_MODULE_PATH "${CMAKE_CURRENT_SOURCE_DIR}/cmake")

# Set APPLICATION_VERSION
include(GenerateVersionFromGit)

project({{ project_name }})

add_subdirectory(src)
{#
vim: set filetype=cmake.jinja
#}
