{
  "editor.defaultFormatter": "ms-vscode.cpptools",
  "editor.formatOnSave": true,
  "files.insertFinalNewline": true,
  "files.eol": "\n",
  "kconfig.zephyr.board": {
    "board": "{{ zephyr_board }}",
    "arch": "{{ zephyr_arch }}",
    "dir": "${env:ZEPHYR_BASE}/boards/{{ zephyr_arch }}/{{ zephyr_board }}"
  },
  "cmake.configureOnOpen": false,
  "editor.formatOnPaste": true,
  "C_Cpp.formatting": "clangFormat"
}
